{%extends "base.html"%}
{% block title %}Compose Mail{% endblock %}
{%block content %}
<form action="/compose?id=send" method="POST">
    <h3 align="center">Create Mail</h3>
    <div class="form-group">
        <label for="recepient">Recepient</label>
        <input type="recepient" class="form-control" id="recepient" name="recepient" value="{{ reciever }}"/>
    </div>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="subject" class="form-control" id="subject" name="subject" value="{{ subj }}"/>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input type="body" class="form-control" id="body"  style="height: 100px;" name="body" value="{{ body }}" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>
<br /> 
<br />
<form action="/compose?id=listen" method="POST">
    <input type="hidden" name="data" value="my data">
    <button type="submit" class="btn btn-primary">Listen</button>
  </form>
{% endblock %}